@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
  font-family: "Open Sans", sans-serif;
}
.intest-logo {
  background-color: black;
  text-align: center;
}

.intest-logo img {
  width: 50%;
  padding: 5vh;
}

h1,
h2 {
  color: #25a2c3;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 5vh;
}

.banner {
  background-image: url(./banner.jpg);
  background-size: 100%;
  text-align: center;
  height: 40vh;
}

button {
  background-color: #f04c2f;
  font-family: "Montserrat", bold;
  border-radius: 5px;
  margin-top: 4vh;
  width: 15vh;
  height: 5vh;
}

button a {
  color: white;
  text-decoration: none;
}

main {
  text-align: center;
}

main img {
  width: 100%;
}

.img-1 img {
  border-radius: 236px;
}

.round-text p {
  margin-bottom: 5vh;
}

.warranty {
  background-color: #f04c2f;
  margin-bottom: 5vh;
  width: 100%;
  height: 50vh;
}

.warranty h2 {
  color: white;
}

.warranty p {
  padding-top: 10%;
  color: white;
}

.warranty-p2 p span {
  font-size: 0.7em;
}

.article-2 {
  margin: 5% 5% 5% 5%;
}

.foto {
  margin-top: 8vh;
  border: 1px solid #dee1e3;
  height: 68vh;
}

footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  text-align: center;
}

footer h2,
a {
  color: #c8e7f0;
}

footer .copyright {
  border-top: 2px solid white;
  margin: 3vh 16vh;
}
